#world-view {
	margin-left:10px;
	width:1000px;
}

#world-map-container {
	position:relative;
	height:700px;
	width:700px;
	outline:1px solid black;
	float:left;
}

#teams {
	position:absolute;
}

#world-info {
	position:relative;
	height:700px;
	width:300px;
	outline:1px solid black;
	float:left;
}

#world-map-bottom,
#world-map-top {
	position:relative;
	height:50px;
	width:700px;
	float:left;
	text-align: center;
}

#world-map-left,
#world-map-right {
	position:relative;
	text-align: center;
	height:600px;
	width:50px;
	float:left;
}

.valign {
	display: inline-block;
	float: none;
	vertical-align: middle;
}

#world-map {
	position:relative;
	outline:1px solid black;
	height:600px; /* = 2^3 * 3 * 5^2  */
	width:600px;
	float:left;
}

.cell {
	height:30px;
	width:30px;
	position:relative;
	float:left;
}

.cboth {
	clear: both;
}


[class^="texture-"],
[class*="texture-"] {
	display: inline-block;
	background-image: url("../images/textures.png");
	background-repeat: no-repeat;
	line-height: 30px;
	width: 30px;
	height: 30px;
}

.texture-empty {
	background-position: 0      0;
}

.texture-water {
	background-position: -30px 0;
}

.texture-rock {
	background-position: -60px 0;
}

.texture-city {
	background-position: -90px 0;
}

.city {
	background-color:grey;
}
.water {
	background-color:blue;
}
.rock {
	background-color:#996600;
}
.empty {
	background-color:green;
}
.void {
	background-color:black;
}

.teamIco {
	width:20px;
	height:20px;
}