<!DOCTYPE html>

<html lang="en" ng-app="ShelterModule">
<head>
	<title>Shelter</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body role="document" ng-controller="shelterController">
	<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top"></nav>
	
	<div class="container theme-showcase" role="main">
		<div class="row">
		    <div class="col-xs-12 col-sm-12 col-md-12">
		    	<span class="pull-right">
		    		<button class="btn btn-xs btn-primary" ng-click="updateGame()">
						<i class="glyphicon glyphicon-refresh"></i>
		    			<span class="hidden-phone">refresh game</span>
		    		</button>
					<button class="btn btn-xs btn-primary" ng-click="updateRoom()">
						<i class="glyphicon glyphicon-refresh"></i>
						<span class="hidden-phone">refresh room</span>
					</button>
					<button class="btn btn-xs btn-primary" ng-click="updateDweller()">
						<i class="glyphicon glyphicon-refresh"></i>
						<span class="hidden-phone">refresh dweller</span>
					</button>
		    	</span>
				<h3>Shelter view</h3>
				<hr>
				<div id="game"></div>
				<hr>
				<div>
					game json : {{gameJson}}<br /> room json : {{roomJson}}<br /> dweller
					json : {{dwellerJson}}
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$('#navbar').load('navbar.html');
		$('#game').load('game.html');
	
		var app = angular.module( "ShelterModule", [] )
		
		app.controller(
			"shelterController",
			function( $scope, shelterService ) {
				$scope.updateGame = function() {
					shelterService.updateGame().then(thenDoUpdateGame)
				}
				
				$scope.updateRoom = function() {
					shelterService.updateRoom().then(thenDoUpdateRoom)
				}

				$scope.updateDweller = function() {
					shelterService.updateDweller().then(thenDoUpdateDweller)
				}
				
				// when request is ok, processing server data
				function thenDoUpdateGame(data) {
					$scope.gameJson = data
					$scope.floors = data[0].shelter.floors
				}

				function thenDoUpdateRoom(data) {
					$scope.roomJson = data
				}
				
				function thenDoUpdateDweller(data) {
					$scope.dwellerJson = data
				}
			}
		)
		app.service(
			"shelterService",
			function( $http, $q ) {
				
				var baseUrl = "http://localhost:9080"
				// Return public API.
				return({
					updateGame: updateGame,
					updateRoom: updateRoom,
					updateDweller: updateDweller
				})
				
				function updateGame( ) {
					var request = $http({
						method: "get",
						url: baseUrl + "/game/list",
						params: {
						},
						data: {
						}
					})
					return( request.then( handleSuccess, handleError ) )
				}
				
				function updateRoom( ) {
					var request = $http({
						method: "get",
						url: baseUrl + "/room/list",
						params: {
						},
						data: {
						}
					})
					return( request.then( handleSuccess, handleError ) )
				}
				
				function updateDweller( ) {
					var request = $http({
						method: "get",
						url: baseUrl + "/dweller/list",
						params: {
							//action: "add"
						},
						data: {
							//name: ""
						}
					})
					return( request.then( handleSuccess, handleError ) )
				}
				
				// ---
				// PRIVATE METHODS.
				// ---
				// I transform the error response, unwrapping the application dta from
				// the API response payload.
				function handleError( response ) {
					console.log("handle error !")
					// The API response from the server should be returned in a
					// nomralized format. However, if the request was not handled by the
					// server (or what not handles properly - ex. server error), then we
					// may have to normalize it on our end, as best we can.
					if (
						! angular.isObject( response.data ) ||
						! response.data.message
					) {
						return( $q.reject( "An unknown error occurred." ) )
					}
						// Otherwise, use expected error message.
						return( $q.reject( response.data.message ) )
				}
				
				// I transform the successful response, unwrapping the application data
				// from the API response payload.
				function handleSuccess( response ) {
					console.log("handle success !")
					return( response.data )
				}
			}
		)
	</script>
</body>
</html>
