<!DOCTYPE html>

<html lang="en" data-ng-app="shelterModule">
<head>
	<title>Shelter</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
</head>

<body role="document" >
	<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Shelter</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container" role="main">
		<div data-ng-controller="shelterController" class="row">
		    <div class="col-xs-12 col-sm-12 col-md-12">
		    	<span class="pull-right">
		    		<button class="btn btn-xs btn-primary" data-ng-click="updateGame()">
						<i class="glyphicon glyphicon-refresh"></i>
		    			<span class="hidden-xs">refresh game</span>
		    		</button>
		    		<button class="btn btn-xs btn-primary" data-ng-click="updateDwellers()">
						<i class="glyphicon glyphicon-refresh"></i>
		    			<span class="hidden-xs">refresh dwellers</span>
		    		</button>
		    	</span>
				<h3>Shelter view</h3>
				<div data-ng-view="shelterView" id="game">
					<span class="text-center">{{ money }} $, {{food}}/{{foodRequired}} food, {{water}}/{{waterRequired}} water</span>
					<div data-ng-repeat="floor in floors | orderBy: number">
						<span data-ng-repeat="room in floor.rooms | orderBy:roomOrder">
							<span title="{{ room.roomType.name }}" data-ng-click="actionRoom(floor, room)" id="room{{ room.id }}">
								[{{ room.roomType.name | firstLetter }}, {{ room.size }} {{ room.cells }}. ({{ room.roomType.special }})]
							</span>
						</span>
					</div>
					<hr>
					<div >
						<span data-ng-show="showDisplayRoom" class="ng-hide">
							Room selected : {{ displayedRoom }}
							<button class="btn btn-xs btn-primary" data-ng-click="showDisplayRoom = false">
								<i class="glyphicon glyphicon-ban-circle"></i>
								<span class="hidden-xs">Cancel</span>
							</button>
							<button class="btn btn-xs btn-success" data-ng-click="upgradeRoom(displayedRoom)">
								<i class="glyphicon glyphicon-upload"></i>
								<span class="hidden-xs">Upgrade</span>
							</button>
							<button class="btn btn-xs btn-danger" data-ng-click="sellRoom(displayedRoom)">
								<i class="glyphicon glyphicon-trash"></i>
								<span class="hidden-xs">Sell</span>
							</button>
						</span>
						<span data-ng-show="showConstructRoom" class="ng-hide">
							Construct : 
							<span data-ng-repeat="type in roomtype | orderBy:id">
								<span data-ng-click="construct(constructFloor, constructCell, type.name)">
									[{{type.name}}, {{type.size}}, {{type.special}}]: {{type.cost}}$
								</span>
							</span>
							<button class="btn btn-xs btn-primary" data-ng-click="showConstructRoom = false">
								<i class="glyphicon glyphicon-ban-circle"></i>
								<span class="hidden-xs">Cancel</span>
							</button>
						</span>
					</div>
					<hr>
					<div>
						<table datatable="ng" id="dwellerTable" class="table table-striped table-hover">
							<thead>
								<tr><th>Name</th><th>Firstname</th><th>Room</th><th>Level</th><th>Male</th></tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="dweller in dwellers">
									<td>{{ dweller.name }}</td>
									<td>{{ dweller.firstname }}</td>
									<td>{{ dweller.room.roomType.name }}</td>
									<td>{{ dweller.level }}</td>
									<td><span ng-if="dweller.male">&#9794;</span><span ng-if="!dweller.male">&#9792;</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables-1.10.9.min.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.columnFilter-1.5.6.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-resource.js"></script>
	<script type="text/javascript" src="js/angular-datatables.min.js"></script>
	<script type="text/javascript" src="js/angular-datatables.columnfilter.min.js"></script>
	<script type="text/javascript">
		var app = angular.module( "shelterModule", ['datatables', 'ngResource'] )
		
		app.controller(
			"shelterController",
			function( $scope, shelterService ) {
				
				$scope.updateGame = function() {
					shelterService.getData("/game/list").then(thenDoUpdateGame)
					$scope.showDisplayRoom = false
					$scope.showConstructRoom = false
				}

				$scope.updateDwellers = function() {
					shelterService.getData("/dweller/list").then(thenDoUpdateDwellers)
				}
				
				$scope.actionRoom = function(floor, room) {
					$scope.showDisplayRoom = false
					$scope.showConstructRoom = false
					if(room.id > 0){
						$scope.showDisplayRoom = true
						shelterService.getData("/room/"+room.id).then(function(data){
							$scope.displayedRoom = data
						})
					} else {
						$scope.showConstructRoom = true
						shelterService.getData("/room/types").then(function(data){
							$scope.roomtype = data
							$scope.constructFloor = floor.number
							$scope.constructCell = room.cells[0]
						})
					}
				}
				$scope.upgradeRoom = function(room) {
					shelterService.postData("/room/upgrade/"+room.id, {}).then(function(data){
						$scope.updateGame()
					})
				}
				
				$scope.construct = function(floor, cell, type) {
					console.log("construct"+floor+type+cell)
					shelterService.postData("/room/construct", {floor:floor, cell:cell, type:type}).then(function(data){
						$scope.updateGame()
					})
				}
				
				// when request is ok, processing server data
				function thenDoUpdateGame(data) {
					var floors = data[0].shelter.floors
					fillEmptySpace(floors)
					$scope.floors = floors
				}
				
				// add "empty room" between real room,
				// use to interact with floor and construct room
				function fillEmptySpace(floors) {
					var keys = Object.keys(floors)
					for (var key in keys) {
						var floor = floors[key]
						var cellList = Array.apply(null, {length: floor.size}).map(Number.call, Number)
						var used = floor.rooms.map(function(v, i) {
							return v.cells
						})
						.reduce(function(previousValue, currentValue, index, array) {
							return previousValue.concat(currentValue)
						})
						cellList.forEach(function(e) {
							if($.inArray(e, used) == - 1){
								var emptySpace = {id:-1, 'size':1, floor:key, 'cells':[e], 'roomType':{'name':'vide'}}
								floor.rooms.push(emptySpace)
							}
						})
					}
					return floors
				}
				
				// update the dwellers list
				function thenDoUpdateDwellers(data) {
					$scope.dwellers = data
				}
				
				// function use to order room in floor
				$scope.roomOrder = function(room){
				    return room.cells[0];
				}

				// call when app is loaded
				angular.element(document).ready(function () {
					$scope.updateGame()
			    });
			}
		)//controller end
		
		app.filter('firstLetter', function() {
		    return function(input) {
		      return (!!input) ? input.charAt(0).toUpperCase() : '';
		    }
		})
		
		app.service(
			"shelterService",
			function( $http, $q ) {
				
				var baseUrl = "http://localhost:9080"
				
				// Return public API.
				return({
					getData: getData,
					postData: postData
				})
				
				// generic get data
				function getData(url) {
					var request = $http({ method: "GET", url: baseUrl + url, params: {}, data: {} })
					return( request.then( handleSuccess, handleError ) )
				}
				
				function postData(url, data){
					var request = $http({ method: "POST", url: baseUrl + url, params: {}, data: data })
					return( request.then( handleSuccess, handleError ) )
				}
				
				// ---
				// PRIVATE METHODS.
				// ---
				// I transform the error response, unwrapping the application dta from
				// the API response payload.
				function handleError( response ) {
					console.log("handle error !")
					// The API response from the server should be returned in a
					// normalized format. However, if the request was not handled by the
					// server (or what not handles properly - ex. server error), then we
					// may have to normalize it on our end, as best we can.
					if ( ! angular.isObject( response.data ) || !response.data.message ) {
						return( $q.reject( "An unknown error occurred." ) )
					}
					// Otherwise, use expected error message.
					else {
						return( $q.reject( response.data.message ) )
					}
				}
				
				// I transform the successful response, unwrapping the application data
				// from the API response payload.
				function handleSuccess( response ) {
					console.log("handle success !")
					return( response.data )
				}
			}
		)//service end
	</script>
</body>
</html>
