<!DOCTYPE html>

<html lang="en" data-ng-app="worldModule">
<head>
	<title>Shelter</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/world-map.css">
	
	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/lodash.js"></script>
	<script type="text/javascript" src="js/shelter/shelter.js"></script>
</head>

<body role="document" >
	<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="index.html">Shelter view</a></li>
					<li><a href="world.html">World map</a></li>
					<li><a href="test.html">test</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container" role="main">
		<div data-ng-controller="worldController" class="row">
		    <div class="col-xs-12 col-sm-12 col-md-12">
				<h3>
					World view
					<span class="pull-right">
			    		<button class="btn btn-xs btn-primary" data-ng-click="updateWorld()">
							<i class="glyphicon glyphicon-refresh"></i>
			    			<span class="hidden-xs">refresh world</span>
			    		</button>
			    	</span>
				</h3>
				<div class="bg-silver" data-ng-view="worldView" id="world">
					<div>
						<span data-ng-click="updateCity(city)" data-ng-repeat="city in cities | orderBy: 'name'">{{city.name}} &nbsp;</span>
					</div>
				</div>
				<hr>
				<div id="world-view">
					<div class="row">
						<div id="world-map-container">
							<div id="world-map-top">
								<button class="btn btn-xs btn-success valign" data-ng-click="moveMap(0, -1)">
									<i class="glyphicon glyphicon-arrow-up"></i>
								</button>
							</div>
							<div id="world-map-left">
								<button class="btn btn-xs btn-success" data-ng-click="moveMap(-1, 0)">
									<i class="glyphicon glyphicon-arrow-left"></i>
								</button>
							</div>
							<div id="world-map">
							</div>
							<div id="world-map-right">
								<button class="btn btn-xs btn-success" data-ng-click="moveMap(1, 0)">
									<i class="glyphicon glyphicon-arrow-right"></i>
								</button>
							</div>
							<div id="world-map-bottom">
								<button class="btn btn-xs btn-success valign" data-ng-click="moveMap(0, 1)">
									<i class="glyphicon glyphicon-arrow-down"></i>
								</button>
							</div>
						</div>
						<div id="world-info" class="container">
							<div class="row">
								<div class="col-md-12">
									<strong>{{city.name}}</strong>
								</div>
							</div>
							<div class="row" data-ng-if="cityDwellers.length > 0">
								<div class="col-md-12">
									<hr>
									<strong>Dwellers</strong>
									<div data-ng-repeat="dweller in cityDwellers | orderBy: name">
										<input type="checkbox" name="dweller" value="{{dweller.id}}" >&nbsp;{{dweller.name}} {{dweller.firstname}}</input>
									</div>
									<button class="btn btn-xs btn-success valign" data-ng-click="teamup()">
										<i class="glyphicon glyphicon-road"></i>
									</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<hr>
									<strong>Teams</strong>
									<div data-ng-repeat="team in teams">
										<span drag="{{team.id}}" class="glyphicon glyphicon-user">&nbsp;{{team.id}}:{{team.current.name}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div data-ng-if="messages.number > 0" data-ng-repeat="message in messages.content">
							{{message}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		var app = angular.module( 'worldModule', [] )

		app.run(function ($rootScope) { $rootScope._ = _; });

		app.controller('worldController', function( $scope, $rootScope, $interval, httpService ) {

			$rootScope.$on('dropEvent', function(evt, team, cell) {
				console.log(evt)
		    });

			//update the world map with server data
			$scope.updateWorld = function() {
				httpService.getData("/world/get").then(function(world) {
					$scope.world = world
					
					$scope.worldMap = updateMapWithWorld($scope.world, $scope.worldMap)
					
					drawMap($scope.worldMap)
					
					$scope.updateDwellers()
					$scope.updateTeams()
				})
			}

			$scope.teamup = function() {
				var teamup = $('[name="dweller"]:checked').map(function(){return this.value}).get()
				
				httpService.postData("/team/teamup", {dwellersId: _.values(teamup)}).then(function(team) {
					$scope.updateTeams()
				})
			}

			$scope.updateDwellers = function() {
				httpService.getData("/dweller/list").then(function(dwellers) {
					$scope.dwellers = dwellers
					drawDwellers($scope.dwellers)
				})
			}

			$scope.updateTeams = function() {
				httpService.getData("/team/list").then(function(teams) {
					$scope.teams = teams
				})
			}

			$scope.updateMessages = function() {
				httpService.getData("/message/last", {page:0, size:10}).then(function(messages) {
					$scope.messages = messages
				})
			}

			//move the displayed map
			$scope.moveMap = function(vx, vy) {
				updateCenter($scope.worldMap, vx, vy)
				drawMap($scope.worldMap)
				drawDwellers($scope.dwellers)
			}

			//add empty spot to city and display it
			$scope.updateCity = function(cityId) {
				httpService.getData("/world/cell/" + cityId).then(function(city) {
					$scope.city = city
					$scope.cityDwellers = _.filter($scope.dwellers, function(o) { return o.mapCell.id==cityId; });
				})
			}

			//update map center view
			function updateCenter(map, vx, vy) {
				map.center.x = map.center.x + vx
				map.center.y = map.center.y + vy
			}
			
			//Update the world Map, with new cells. Keep the center if exist, else, take the map absolute center
			function updateMapWithWorld(world, worldMap) {
				
				var map = {'height':world.height, 'width':world.with, 'cells':[], 'center':worldMap != undefined ? worldMap.center : {'x':Math.round(world.width / 2), 'y':Math.round(world.height / 2)}}
				
				//transform the object into array
				Object.keys(world.map).forEach(function(key) {
					var cell = world.map[key]
					map.cells[cell.xaxis] = map.cells[cell.xaxis] || []
					map.cells[cell.xaxis][cell.yaxis] = cell
				})
				
				return map
			}

			// display dwellers position on the map
			function drawDwellers(dwellers) {
				dwellers.forEach(function(d) {
					var cellId = d.mapCell.id
					$('[data-cell-id="' + cellId + '"]').html('<span class="glyphicon glyphicon-user"></span>')
				})
			}
			
			// display the map
			function drawMap(worldMap) {
				$('#world-map').html("")
				
				//param/constante
				var mapHeightPx = 600
				var mapWidthPx = 600
				var cellHeightPx = 30 // taille hauteur en px d'une cell
				var cellWidthPx = 30 // taille largeur en px d'une cell

				var nbCeilHeight = mapHeightPx / cellHeightPx // nombre de cellules à afficher sur la hauteur
				var nbCeilWidth = mapWidthPx / cellWidthPx // nombre de cellules à afficher sur la largeur
				
				//determination des bornes de la map en fonction du point
				var xLeft = worldMap.center.x - Math.round(nbCeilWidth / 2)
				var yUp = worldMap.center.y - Math.round(nbCeilHeight / 2)
				
				//cellules à afficher
				for (y = 0; y < nbCeilHeight; y++) {
					for (x = 0; x < nbCeilWidth; x++) {
						//détermination des identifiants des cellules affichés
						var cell = $($(worldMap.cells).get((x + xLeft) % nbCeilWidth)).get((y + yUp) % nbCeilHeight)
						var id = cell.xaxis + '_' + cell.yaxis
						var div = '<div drop="' + cell.id + '" id="' + id + '" class="cell empty" data-cell-id="' + cell.id + '"></div>'
						$('#world-map').append(div)
					}
				}

				// add cities to the map
				worldMap.cells.forEach(function(yaxis) {
					yaxis.forEach(function(cell) {
						if (cell.streets != undefined) {
							var id = cell.xaxis + '_' + cell.yaxis
							$('#' + id).removeClass().addClass("cell city").on('click', function(){
								console.log(cell)
								$scope.updateCity(cell.id)
							})
						}
					})
				})
			}
			
			// TODO : delete this
			// add "empty spot" between reals spot,
			// use to interact with street
			function fillEmptySpot(streets) {
				var keys = Object.keys(streets)
				keys.forEach(function(key) {
					var street = streets[key]
					var spotList = Array.apply(null, {length: 10}).map(function(discard, n){ return n + 1 })
					var used = Object.keys(street.spots).map(function(v,i){
						return street.spots[v].number
					})
					spotList.forEach(function(e) {
						if($.inArray(e, used) == - 1) {
							var emptySpot = {id:-1, number:e, name:'vide'}
							street.spots[e] = emptySpot
						}
					})
				})
				return streets
			}
			
			angular.element(document).ready(function () {
				$scope.updateWorld()
				$scope.updateMessages()

				//update view with 5s interval
				$interval(function() {
					$scope.updateWorld()
				}, 70 * 1000);

				$interval(function() {
					$scope.updateMessages()
				}, 50 * 1000);
		    });
		})
		
		app.directive("drag", ["$rootScope", function($rootScope) {

			function dragStart(evt, element) {
				evt.originalEvent.dataTransfer.setData("id", evt.target.id)
				evt.originalEvent.dataTransfer.effectAllowed = 'move'
			}
			  
			function dragEnd(evt, element) {}
			  
			return {
				restrict: 'A',
				link: function(scope, element, attrs) {
					attrs.$set('draggable', 'true')
					scope.dragData = attrs["drag"]
					element.bind('dragstart', function(evt) {
						$rootScope.draggedElement = scope.dragData
						dragStart(evt, element)
					})
		
					element.bind('dragend', function(evt) {
						dragEnd(evt, element)
					})
				}
			}
		}])
		
		app.directive("drop", ['$rootScope', function($rootScope) {

			function dragEnter(evt, element) {
				evt.preventDefault();
			}

			function dragLeave(evt, element) { }

			function dragOver(evt) {
				evt.preventDefault();
			}

			function drop(evt, element) {
				evt.preventDefault();
			}
			
			return {
				restrict: 'A',
				link: function(scope, element, attrs) {
					element.bind('dragenter', function(evt) {
						dragEnter(evt, element)
					})
					element.bind('dragleave', function(evt) {
						dragLeave(evt, element)
					})
					element.bind('dragover', dragOver)
					element.bind('drop', function(evt) {
						scope.dropData = attrs["drop"];
						drop(evt, element)
						$rootScope.$broadcast('dropEvent', $rootScope.draggedElement, scope.dropData)
					})
			    }
			}
		}])
	</script>
	
	<script type="text/javascript" src="js/shelter/http-service.js"></script>
</body>
</html>
