<!DOCTYPE html>

<html lang="en" data-ng-app="worldModule">
<head>
	<title>Shelter</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/world-map.css">
</head>

<body role="document" >
	<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
	</nav>
	
	<div class="container" role="main">
		<div data-ng-controller="worldController" class="row">
		    <div class="col-xs-12 col-sm-12 col-md-12">
				<h3>
					World view
					<span class="pull-right">
			    		<button class="btn btn-xs btn-primary" data-ng-click="updateWorld()">
							<i class="glyphicon glyphicon-refresh"></i>
			    			<span class="hidden-xs">refresh world</span>
			    		</button>
			    	</span>
				</h3>
				<div class="bg-silver" data-ng-view="worldView" id="world">
					<div>
						<span data-ng-click="updateCity(city)" data-ng-repeat="city in cities | orderBy: 'name'">{{city.name}} &nbsp;</span>
					</div>
				</div>
				<hr>
				<div id="world-view">
					<div id="world-map-container">
						<div id="world-map-top">
							<button class="btn btn-xs btn-success valign" data-ng-click="moveMap(0, -1)">
								<i class="glyphicon glyphicon-arrow-up"></i>
							</button>
						</div>
						<div id="world-map-left">
							<button class="btn btn-xs btn-success" data-ng-click="moveMap(-1, 0)">
								<i class="glyphicon glyphicon-arrow-left"></i>
							</button>
						</div>
						<div id="world-map">
						</div>
						<div id="world-map-right">
							<button class="btn btn-xs btn-success" data-ng-click="moveMap(1, 0)">
								<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
						</div>
						<div id="world-map-bottom">
							<button class="btn btn-xs btn-success valign" data-ng-click="moveMap(0, 1)">
								<i class="glyphicon glyphicon-arrow-down"></i>
							</button>
						</div>
					</div>
					<div id="world-info">
						{{city.name}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/shelter/shelter.js"></script>
	
	<script>
		var app = angular.module( 'worldModule', [] )
		
		app.run(function ($rootScope) { $rootScope._ = _; });
		
		app.controller('worldController', function( $scope, $interval, httpService ) {
			
			//update the world map with server data
			$scope.updateWorld = function() {
				httpService.getData("/world/get").then(function(world){
					$scope.world = world
					$scope.cities = world.cities
					
					$scope.worldMap = updateMapWithWorld($scope.world, $scope.worldMap)
					
					drawMap($scope.worldMap)
				})
			}
			
			//move the displayed map
			$scope.moveMap = function(vx, vy) {
				updateCenter($scope.worldMap, vx, vy)
				drawMap($scope.worldMap)
			}
			
			//add empty spot to city and display it
			$scope.updateCity = function(cityId) {
				httpService.getData("/world/cell/" + cityId).then(function(city){
					$scope.city = city
				})
			}
			
			//update map center view
			function updateCenter(map, vx, vy) {
				map.center.x = map.center.x + vx
				map.center.y = map.center.y + vy
			}
			
			//Update the world Map, with new cells. Keep the center if exist, else, take the map absolute center
			function updateMapWithWorld(world, worldMap) {
				
				var map = {'height':world.height, 'width':world.with, 'cells':[], 'center':worldMap != undefined ? worldMap.center : {'x':Math.round(world.width / 2), 'y':Math.round(world.height / 2)}}
				
				//transform the object into array
				Object.keys(world.map).forEach(function(key) {
					var cell = world.map[key]
					
					if (map.cells[cell.xaxis] == undefined) {
						map.cells[cell.xaxis] = []
					}
					
					map.cells[cell.xaxis][cell.yaxis] = cell
				})
				
				return map
			}
			
			// display the map
			function drawMap(worldMap) {
				$('#world-map').html("")
				
				//param/constante
				var mapHeightPx = 600
				var mapWidthPx = 600
				var cellHeightPx = 30 // taille hauteur en px d'une cell
				var cellWidthPx = 30 // taille largeur en px d'une cell

				var nbCeilHeight = mapHeightPx / cellHeightPx // nombre de cellules à afficher sur la hauteur
				var nbCeilWidth = mapWidthPx / cellWidthPx // nombre de cellules à afficher sur la largeur
				
				//determination des bornes de la map en fonction du point
				var xLeft = worldMap.center.x - Math.round(nbCeilWidth / 2)
				var yUp = worldMap.center.y - Math.round(nbCeilHeight / 2)
				
				//cellules à afficher
				for (y = 0; y < nbCeilHeight; y++) {
					for (x = 0; x < nbCeilWidth; x++) {
						//détermination des identifiants des cellules affichés
						var xUpdate = $($(worldMap.cells).get((x + xLeft) % nbCeilWidth)).get((y + yUp) % nbCeilHeight).xaxis
						var yUpdate = $($(worldMap.cells).get((x + xLeft) % nbCeilWidth)).get((y + yUp) % nbCeilHeight).yaxis
						var id = xUpdate + '_' + yUpdate
						$('#world-map').append('<div id="' + id + '" class="cell empty"></div>')
					}
				}

				// add cities to the map
				worldMap.cells.forEach(function(yaxis) {
					yaxis.forEach(function(cell) {
						if (cell.streets != undefined) {
							var id = cell.xaxis + '_' + cell.yaxis
							$('#' + id).removeClass().addClass("cell city").on('click', function(){
								console.log(cell)
								$scope.updateCity(cell.id)
							})
						}
					})
				})
			}
			
			// TODO : delete this
			// add "empty spot" between reals spot,
			// use to interact with street
			function fillEmptySpot(streets) {
				var keys = Object.keys(streets)
				keys.forEach(function(key) {
					var street = streets[key]
					var spotList = Array.apply(null, {length: 10}).map(function(discard, n){ return n + 1 })
					var used = Object.keys(street.spots).map(function(v,i){
						return street.spots[v].number
					})
					spotList.forEach(function(e) {
						if($.inArray(e, used) == - 1) {
							var emptySpot = {id:-1, number:e, name:'vide'}
							street.spots[e] = emptySpot
						}
					})
				})
				return streets
			}
			
			angular.element(document).ready(function () {
				$scope.updateWorld()

				//update view with 5s interval
				$interval(function(){
					$scope.updateWorld()
				}, 70 * 1000);
		    });
		})
	</script>
	<script type="text/javascript" src="js/shelter/http-service.js"></script>
</body>
</html>
