<!DOCTYPE html>

<html lang="en" data-ng-app="worldModule">
<head>
	<title>Shelter</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/world-map.css">
	
	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/lodash.js"></script>
	<script type="text/javascript" src="js/shelter/shelter-canvas.js"></script>
	
	<script type="text/javascript" src="js/shelter/shelter.js"></script>
	<script type="text/javascript" src="js/shelter/world-controller.js"></script>
	<script type="text/javascript" src="js/shelter/world-service.js"></script>
	<script type="text/javascript" src="js/shelter/http-service.js"></script>
</head>

<body role="document" >
	<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="index.html">Shelter view</a></li>
					<li><a href="world.html">World map</a></li>
					<li><a href="test.html">test</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container" role="main">
		<div data-ng-controller="worldController" class="row">
		    <div class="col-xs-12 col-sm-12 col-md-12">
				<div id="world-view" data-ng-view="worldView">
					<div class="row">
						<div id="world-map-container">
							<div id="world-map-top">
								<button class="btn btn-xs btn-success valign" data-ng-click="moveMap(0, -2)">
									<i class="glyphicon glyphicon-arrow-up"></i>
								</button>
							</div>
							<div id="world-map-left">
								<button class="btn btn-xs btn-success" data-ng-click="moveMap(-2, 0)">
									<i class="glyphicon glyphicon-arrow-left"></i>
								</button>
							</div>
							<div id="world-map">
							</div>
							<div id="world-map-right">
								<button class="btn btn-xs btn-success" data-ng-click="moveMap(2, 0)">
									<i class="glyphicon glyphicon-arrow-right"></i>
								</button>
							</div>
							<div id="world-map-bottom">
								<button class="btn btn-xs btn-success valign" data-ng-click="moveMap(0, 2)">
									<i class="glyphicon glyphicon-arrow-down"></i>
								</button>
							</div>
						</div>
						<div id="world-info" class="container">
							<div class="row">
								<div class="col-md-12">
									<strong>{{cell.name}}</strong>
								</div>
							</div>
							<div class="row" data-ng-if="cellDwellers.length > 0">
								<div class="col-md-12">
									<hr>
									<strong>Dwellers Cell</strong>
									<div data-ng-repeat="dweller in cellDwellers | orderBy: name">
										<input type="checkbox" name="dweller" value="{{dweller.id}}" >&nbsp;{{dweller.name}} {{dweller.firstname}}</input>
										<button class="btn btn-xs btn-info valign" data-ng-click="showDwellerDetails(dweller.id)">
											<i class="glyphicon glyphicon-info-sign"></i>
										</button>
									</div>
									<button class="btn btn-xs btn-success valign" data-ng-click="teamup()">
										<i class="glyphicon glyphicon-road"></i>
									</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12" data-ng-if="teamDetail">
									<hr>
									<strong>Team selected</strong>
									<div class="row">
										{{teamDetail.id}}, currently at {{teamDetail.current.xaxis}},{{teamDetail.current.yaxis}}
										<span data-ng-if="teamDetail.target">({{teamDetail.duty.name}} to {{teamDetail.target.xaxis}},{{teamDetail.target.yaxis}})</span>
										<!-- TODO : +/- informations for each dweller, not for the team -->
										<button class="btn btn-xs valign" data-ng-click="showme=true" data-ng-hide="showme" >
											<i class="glyphicon glyphicon-plus"></i>
										</button>
										<button class="btn btn-xs valign" data-ng-click="showme=false" data-ng-show="showme" >
											<i class="glyphicon glyphicon-minus"></i>
										</button>
										<div data-ng-show="showme">
											<span data-ng-repeat="dweller in teamDetail.dwellers">&nbsp;{{dweller.name}} {{dweller.firstname}}, </span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<hr>
									<strong>Teams Player</strong>
									<div class="row" data-ng-repeat="team in teamsWithoutDuty">
										&nbsp;<img ondragstart="dragTeamStart(event)" data-team-id="{{team.id}}" draggable="true" class="teamIco" src="images/team.png" title="team_ico"/>{{team.id}} <span data-ng-if="team.target">({{team.duty.name}} => {{team.target.xaxis}},{{team.target.yaxis}})</span>
										<input id="xaxis_{{team.id}}" name="xaxis" type="text" style="width:30px" value="" placeholder="x" />
										<input id="yaxis_{{team.id}}" name="yaxis" type="text" style="width:30px" value="" placeholder="y" />
										<select id="duty_{{team.id}}" name="duty">
											<option value=""></option>
											<option data-ng-repeat="duty in duties" value="{{duty.id}}">{{duty.name}}</option>
										</select>
										<button class="btn btn-xs btn-success valign" data-ng-click="sendDuty(team.id)">
											<i class="glyphicon glyphicon-road"></i>
										</button>
										<button class="btn btn-xs btn-danger valign" data-ng-click="disband(team.id)">
											<i class="glyphicon glyphicon-ban-circle"></i>
										</button>
										<button class="btn btn-xs btn-info valign" data-ng-click="showTeamDetail(team.id)">
											<i class="glyphicon glyphicon-eye-open"></i>
										</button>
									</div>
									<div class="row" data-ng-repeat="team in teamsWithDuty">
										{{team.id}} <span data-ng-if="team.target">({{team.duty.name}} => {{team.target.xaxis}},{{team.target.yaxis}})</span>
										<button class="btn btn-xs btn-danger valign" data-ng-click="cancelDuty(team.id)">
											<i class="glyphicon glyphicon-ban-circle"></i>
										</button>
										<button class="btn btn-xs btn-success valign" data-ng-click="showTeamDetail(team.id)">
											<i class="glyphicon glyphicon-eye-open"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="canvas-container" class="row">
						<div id="canvas-top">
							<button class="btn btn-xs btn-success valign" data-ng-click="moveMap(0, -2)">
								<i class="glyphicon glyphicon-arrow-up"></i>
							</button>
						</div>
						<div id="canvas-left">
							<button class="btn btn-xs btn-success valign" data-ng-click="moveMap(-2, 0)">
								<i class="glyphicon glyphicon-arrow-left"></i>
							</button>
						</div>
						<div id="canvas-center">
							<canvas id="background-layer" width="896" height="576"></canvas>
							<canvas id="game-layer" width="896" height="576"></canvas>
						</div>
						<div id="canvas-right">
							<button class="btn btn-xs btn-success valign" data-ng-click="moveMap(2, 0)">
								<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
						</div>
						<div id="canvas-bottom">
							<button class="btn btn-xs btn-success valign" data-ng-click="moveMap(0, 2)">
								<i class="glyphicon glyphicon-arrow-down"></i>
							</button>
						</div>
					</div>
					<div data-ng-if="messages.numberOfElements > 0" class="row">
						<div data-ng-repeat="message in messages.content">
							{{message.dateCreate.dayOfMonth | formatTime}}/{{message.dateCreate.monthValue | formatTime}}/{{message.dateCreate.year}} 
							{{message.dateCreate.hour | formatTime}}:{{message.dateCreate.minute | formatTime}}:{{message.dateCreate.second | formatTime}} 
							: {{message.content}}
						</div>
					</div>
				</div>
				
				<div class="modal fade" tabindex="-1" role="dialog" id="dwellerInfoModal" >
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Dweller details</h4>
							</div>
							<div class="modal-body">
								{{dwellerDetail.name}} {{dwellerDetail.firstname}}, level {{dwellerDetail.level}}<br/>
								Life : {{dwellerDetail.life}}/{{dwellerDetail.maxLife}}<br/>
								Xp : {{dwellerDetail.experience}}/{{dwellerDetail.maxExperience}}<br/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
